---
---



$theme-colors: (
  "primary": #003262,
  "danger": #ED4E33,
);

.blockquote  {
  padding: 1rem;
}

@import 'bootstrap/bootstrap';

:target:before {
content:"";
display:block;
height:120px; /* fixed header height*/
margin:-120px 0 0; /* negative fixed header height */
}

.syllabus h1 {
  font-size: 2rem;
}
.syllabus h2 {
  font-size: 1.7rem;
}
.syllabus h3 {
  font-size: 1.2rem;
}



.required_reading::before { 
  /* content: "Required Reading"; */
}

.optional_reading::before { 
  content: "Optional Reading";
}

.required_reading {
  padding: 1rem;
} 

.optional_reading {
  padding: 1rem;
} 

.required_reading ul {
  padding-top: 1rem;
  /*line-height: 1rem;*/
}

.optional_reading ul {
  padding-top: 1rem;
  
}

.required_reading ul li {
 
}

.optional_reading ul li {
  
}



/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
/*  
  padding-top: 5rem;
  padding-bottom: 5rem;
*/
  min-height: 75rem;
  color: #5a5a5a;
}

main {
  padding-top: 5rem;
  padding-bottom: 5rem;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* Course contents
-------------------------------------------------- */



.course_content .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.course_content h2 {
  font-weight: 400;
}
.course_content .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
